@charset "utf-8";
/* CSS Document */

body {
	height: 100%;
	background-color: #000 !important;
}

#logo {
	width:170px;
	height: 40px;
	background-image: url('images/logo_mozza_header.png');
	background-repeat: no-repeat;
	float: left;
	margin-top: 6px;
}

.project {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px !important;
}

.navbar {
	margin-bottom: 0px !important;
}

#wrap {
	height: auto;
	background-color: #fff;
}

#controls {
	padding-top:10px;
	padding-bottom: 4px;
	background-color: #F5F5F5;
}

#toggle-controls {
	background-color: #F5F5F5; 
	cursor: pointer;
	text-align: center;
	border-top: 1px solid #fff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.btn-group > .btn + .dropdown-toggle {
	height: 34px;
}

.btn-fix {
	display: inline-flex !important;
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
	width: 50% !important;
}

.input-group-addon {
	cursor: default;
}

.b-list {
	margin-top: 7px;
	margin-bottom: 7px;
}

.sliders {
	width: 75%;
	float: right;
	margin-top: 4px;
}

.bfh-slider {
	margin-top: 0px !important;
	margin-bottom: 21px !important;
}

.bfh-slider>.bfh-slider-handle {
	margin-top: -5px !important;
	height: 28px !important;
}

.bfh-slider-value {
	margin-top: 3px !important;
	width: 34px !important;
	margin-left: -8px !important;
}

.slider-txt {
	float: left;
	cursor: default;
}

.slider-cont {
	padding: 6px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 34px;
}

#style-txt {
	margin-left: 4px;
}

#share {
	text-align: center;
}

#share-text, #viewer-text {
	padding-top: 0px;
	padding-bottom: 20px;
	cursor: default;
}

#viewer-text {
	text-align: center;
}

#share-buttons {
	padding-bottom: 20px;
}

/* Set the fixed height of the footer here */
#footer {
  	height: auto;
  	background-color: #000;
 }

 #wrap > .container {
  	padding: 0px 15px 0;
}
.container .text-muted {
  	margin: 20px 0;
}

#dl-ct {
	padding: 20px;
	text-align: center;
}

#footer > .container {
  	padding-left: 15px;
  	padding-right: 15px;
}
